  .text-light-purple {
    color: #AFA0FB;
  }
  
  .text-navy {
    color: #7685D6;
  }
  
  .text-sky {
    color: #60B8FF;
  }
  
  .text-mint {
    color: #51D0E4;
  }

 
  .text-space-blue{
    color: #41A8E2;
  }